html {
  height: 100%;

}

@font-face {
  font-family: Courier New;
  src: url(../../fonts/cour.ttf);
}

@font-face {
  font-family: Courier New-Italic;
  src: url(../../fonts/couri.ttf);
}


body {
  color: #EEEEEE;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/background.jpg");
  font-family: "Courier New", "Arial", sans-serif;
  background-size: cover;
  position: relative;
  margin: 0;
  line-height: 30px;

}

.container-fluid {
  margin: 0 auto;
  max-width: 900px;
}

ul {
  list-style: none;
}

a:hover {
  text-decoration: none;

}

a:focus {
  text-decoration: none;
  color: #B5B081;
}

.go{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: block !important;
  z-index: 999;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
button{
  font-size: 13px;
}
button:active,
button:focus,
button:visited{
  border: none!important;
  outline: none!important;
  outline-color: transparent!important;
  outline-style: none!important;
  outline-width: 0!important;
}
#filter_option {
display: flex;
  background: none;
  height: 50px;
  button {

    display: inline-block;
    background: transparent;
    text-align: left;
    padding: 10px;
    line-height: 18px;
    border: none;
    margin: 0 10px;
    font-size: 10px;

    span {
    color: rgba(255,255,255,0.6);
      transition: .3s;
      -webkit-transition: .3s;
      padding: 5px;
    }
    &:first-child {
      border-left: none;
    }
  }
  button:after{
    content: '';
    border: .5px solid #FFF48A;
    height: 20px;
    position: absolute;
    margin-left: 20px;
  }
  button:last-child:after{
    border: none;
  }
  button:hover,
  button:active {
    background-color: rgba(255,255,255,0.2);

    span {
      color: white;
    }

  }
  button:focus {
    color: white;
  }
}
.fixed{
  position: fixed!important;
  z-index: 1!important;

}

#header {
  .col-xs-12 {
    transition: 1s;
    z-index: 2;
    height: 80px;
    display: flex;
    align-items: center;
    top: 0;
  }
}

.background-ribbon {

  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0 10px 72px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 10px 72px -4px rgba(0,0,0,0.5);
  box-shadow: 0 10px 72px -4px rgba(0,0,0,0.5);
}
.narrow{
  height: 50px;
  border-bottom: 1px solid rgba(255,255,255,0.4);

}
.wide{
  top: 0;
  height: 80px;  transition: 1s;
}

.menu {
  z-index: 100;
  height: 40px;
  .col-sm-6 {
    height: 40px;
  }
}

.heading {
  display: inline;
  a{
    img{
      max-width: 100%;
    }
  }
}
.header-heading{
  a{
    transition: 0.5s ease-in;
    img{
      max-width: 300px;
    }
  }
}

.submit_heading {
  p {
    font-size: 14px;

  }
  span {
    font-size: 21px;
    line-height: 40px;
    display: block;
    font-weight: bold;
    margin-bottom: 30px;
  }

}

.heading:hover a {

  color: #FFF48A;
  span {
    color: #FFF48A;
  }

}

.heading:active a {

  color: #FFF48A;
  span {
    color: #FFF48A;
  }

}

p, small, a, span, label {
  color: #EEEEEE;

}


small {
  display: block;
}

.logo-small {
  margin: 20px 30px 10px 0;
  width: 60px;
  height: 50px;
  display: inline-block;
  img {
    max-width: 100%;
  }
}

.home-heading {
  position: relative;
  top: 130px;
  .logo {
    width: 120px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    img {
      position: absolute;
      width: 70%;
    }
  }
  h1 {
    display: block;
    margin: 0 auto;
    color: #FFF48A;
    font-size: 60px;
    text-align: center;


  }
  p {
    line-height: 26px;
    font-family: "Courier New", "Arial", "sans-serif";
    margin: 10px auto;
    font-size: 15px;
    text-align: center;
    position: relative;
    width: 350px;
  }
  .homepage-icons {
    margin: 20px auto;
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
      width: 330px;
      height: 70px;
      position: relative;

      &:nth-child(1) {
        background-color: white;
        a {
          span:nth-child(1) {

            i {
              color: #36434D;
            }
          }

          span:nth-child(2) {
            color: #36434D;

          }
        }
      }
      &:nth-child(1):hover {

      }

      &:nth-child(2) {
        color: white;
        border: 2px solid white;

      }
      &:nth-child(2):hover {

        span {
          color: white;
        }

        background-color: rgba(255, 255, 255, 0.2);

      }

    }

    .icon:hover {
      cursor: pointer;
      a {
        span {

          i.fas {
            visibility: hidden;

          }
        }
      }
    }

    div {
      position: relative;
      margin: 5px;
      a {
        span {
          display: flex;
          justify-content: center;

          i.fas {
            font-size: 30px;
            margin: 15px auto;

          }

        }
      }

      .subtitle {
        display: none;
        text-align: center;
        margin-top: -43px;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}
.write{
  cursor: pointer;

  p{
    z-index: 9;
    position: absolute;
    top: 0;
   }
    i{

    }


  .btn-effect{
    content: "";
    border: 0.5px solid transparent;
    border-radius: 20px;
    width: 50px;
    height: 40px;
    position: relative;
    right: 4px;
    -webkit-box-shadow: 0 0 20px -4px rgba(255,255,255,0.75);
    -moz-box-shadow: 0 0 20px -4px rgba(255,255,255,0.75);
    box-shadow: 0 0 20px -4px rgba(255,255,255,0.75);
    top: 3px;
    transition: .3s;
    -webkit-transition: .3s;
  }

}
.write:hover{
  .btn-effect{
    background-color: white;
    box-shadow: none;
  }
  p{
    i{
      color: #1D2029!important;
      cursor: pointer;
    }
  }
}
.visible {
  display: block !important;
}

.submission_form {
  margin-bottom: 60px;
}

#search_bar {
  padding: 10px;
  transition: 1s;
  background: rgba(255,255,255, 0.5);
  border: none;
  width: 1px;
  height: 35px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  position: absolute;
  left: 0;
  top: 2px;
  bottom: 0;
  right: 0;
  border-radius: 16px;


}
#search_bar,
#search_bar:focus,
#search_bar:active,
#search_bar:visited{
  box-shadow: none!important;
  border: none!important;
  outline: none!important;
  outline-color: transparent!important;
  outline-style: none!important;
  outline-width: 0!important;
}


#search_form {
  position: relative;
  top: 5px;
  display: none;
}

#close {
  display: inline;
  float: left;
  margin-left: -30px;
  margin-top: 8px;
  color: #9B976D;
  transform: scale(1.03, 1.03);
  -webkit-transform: scale(1.03, 1.03);
  -ms-transform: scale(1.03, 1.03);
  cursor: pointer;
}

.go {
  position: absolute;
  left: 210px;
  top: -5px;
  p{
    i{
      color: #171B25!important;
    }
  }

}

#close {
  i {
    margin: 0;
  }
}

.buttons {
  float: right;
  display: inline;
  margin-right: 20px;
  width: 70px;

  small {
    height: 15px;
    text-align: right;
  }
  span,
  a{
    cursor: pointer;
    float: right;
    .fas {
      opacity: 0.7;
      font-size: 18px;
      color: white;
      margin: 10px;
    }


  }
  span:hover
  {
    i{
      opacity: 1;
    }
  }
  a:hover
  {
    i{
      opacity: 1;
    }
  }

}

.vl {

  height: 30px;
  position: relative;
  top: 3px;
  border-left: 1px solid #616468;

}

.hl {
  width: 100%;
  height: 2px;
  border-bottom: 1px solid white;
  position: absolute;
  left: 0;
  top: 100px;

  &:nth-of-type(2) {
    top: 140px;
  }
}


#search {
  width: 30px;
  position: relative;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;

}

.icons {

  display: inline-block;
  width: 40px;
  float: right;
  margin-left: 30px;
  p {
    float: right;
    cursor: pointer;
    i {
      margin: 0 auto;
    }
    i:hover {
      color: #D2C96F;
    }
  }
  .fas {
    font-size: 21px;
    margin: 12px;
  }
}

.minus {
  p {
    i {
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      -webkit-transition-timing-function: linear;
    }

  }
  p:hover i {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

  }

}

.search_div {
  width: 250px !important;
  margin-left: 0;
}

.name {
  text-align: left;
}

.date {
  text-align: right;
  margin-right: 10px
}

.name,
.date {
  font-size: 12px;
  font-style: italic;
  color: white;
  opacity: 0.5;
}
.sections{
  padding: 30px;
  //background-color: rgba(255,255,255, 0.1);
  position: relative;
  width: 80%;
  top: 100px;
}
.memory-section {
 position: relative;
  padding: 15px;

  margin-top: 50px;
}
.memo-detail{
  .memory-section{
    margin-bottom: 30px;
  }
  .memory-block{

    a{
      font-weight: bold;
    }
  }
}
.memory-block {
  padding-bottom: 30px;
  margin: 10px 0;
  border-left: 1px solid #FFF48A;
  border-bottom: 1px solid #616468;
  a {
    font-size: 17px;
    font-weight: bold;

  }

}
.memory-block:hover{
  a {
    opacity: 0.8;
    color: white;
}
}

#comment_panel {
  margin-bottom: 20px;
  .panel {
    border-radius: 1px;
    background: none;
    border: 1px solid #EEEEEE !important;
    .panel-body {
      background: rgba(255,255,255, 0.05) !important;
      color: white;
      p {
        color: #EEEEEE !important;
      }

    }

    .panel-heading {
      padding: 3px;
      background-color: rgba(255,255,255,0.2);
      border-bottom: 1px solid #616468;;
      p {
        color: white;
        opacity: 0.7;
        font-size: 12px;
      }
    }
  }
}

#comment_form {
  margin-bottom: 60px;
}


.form-contaner {

  padding: 20px;
}
.form-group{
  label{
font-size: 13.5px;
    font-weight: 100;
  }
}
.form{
  background-color: rgba(255,255,255,0.1);
  padding: 12px 12px 20px 12px;
}
.form-group {
  margin-bottom: 25px;
  small {
    margin-top: 3px;
    font-style: italic;
  }

}

.form-control {
  opacity: 0.7;
  border-radius: 1px;
  background: none;
  box-shadow: none;
  color: white;
  border: 2px solid #EEEEEE;
}

.form-control:focus {
  border: 2px solid #EEEEEE;
  //box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(155, 151, 109, .6);
}

.full-width-btn {
  width: 100%;
}

.submit-form-btn {

  background: none;
  border: 2px solid #EEEEEE;
  padding: 10px;
  color: #EEEEEE;
  transition: 1s;
}

.submit-form-btn:hover {
  background-color: #EEEEEE;
  color: black;
}

.submit-form-btn:active {
  background: none;
  color: black;
  border: none;

}

.note {
  margin-top: 8px;

}

.filter {
  select {
    width: 100%;
  }
}
.messages{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  a{
    transition: 1s;
    i{
      margin: 0 10px;
      transition: 1s;
    }
  }
  a:hover{
    color: #FFF48A;

    i{
      margin-right: 25px;
    }
  }
}

nav.pagination_container {
  margin-bottom: 80px;
  position: relative;
  top: 100px;
  ul {
    margin: 0 auto;
    display: block;
    text-align: center;
    height: 70px;
    padding: 10px;
    li{
      padding:9px;
      border-radius: 1px;
      display: inline-block;


      a {
        color: white;
        font-weight: bold;
        font-size: 15px;
        i {
          font-size: 21px;
        }
      }
      a:hover {
        color: #D2C96F;
      }
      a:visited {
        color: #7A8187;
      }
      a:focus {
        color: #D2C96F;
      }
    }

    &:first-child,
    &:last-child {
      a {
        i {
          color: white;
        }
      }
    }
  }
}
.arrows-small,
.arrows {

  margin: 10px;
  transition: 1s;
  background-color: rgba(255,255,255, 0.2);
  position: relative;
  a{
    width: 100%;
    display: block;
    height: 100%;
  }
 }
.arrows{
  width: 70px;
  height: 40px;
}
.arrows-small{
  padding: 4px!important;
  width: 30px ;
  height: 30px;
}
.arrows:hover,
.arrows-small:hover{
  background-color: rgba(255,255,255, 1);
  a{
    i{
      color: #0B0E14!important;
    }
  }
}
.current {
  color: #D2C96F;
}
@media only screen and (max-width: 1100px) {
  .sections{
    width: 100%;
  }
}
@media only screen and (max-width: 950px) {

  .container-fluid {
    margin: 0 30px;
  }
}

@media only screen and (max-width: 800px) {
  #header {
    .col-xs-12 {
     justify-content: center;
    }
  }
  .menu{
    .col-xs-6{
      width: 100%;

    }
    .nav{
      position: fixed!important;
      bottom: 0;
      left: 0;
      z-index: 100;
      background-color: #171B25;
      display: flex;
      justify-content: space-around;
    }

  }

}

@media only screen and (max-width: 500px) {


  .name,
  .date {
    font-size: 12px;
  }
  .header{
    h1{
      font-size: 42px!important;
    }
  }
}

@media only screen and (max-width: 460px) {

  .icons {
    margin-left: 15px;
    position: relative;
    top: 4px;
  }
  .buttons {
    width: 42px;
  }
  #search_bar {
    position: relative;
    width: 180px;
  }
  .home-heading {
    .homepage-icons {
      .icon {
        width: 100%;
      };
    }
    p {
      width: auto;
    }
  }
}

@media only screen and (max-width: 400px) {
  .container-fluid {
    margin: 0 auto;
  }
  .home-heading {
    h1 {
      font-size: 48px;
    }

  }
}

@media only screen and (max-width: 360px) {
.buttons{
  width: 36px;
}
  .submit-heading {
    span {
      font-size: 32px;
      line-height: 48px;
    }

  }
  .heading {
    font-size: 26px;
  }
  #header{
    margin-top: 0!important;
  }
  .row {
   // margin-top: 15px;
  }
  .icons {
    .fas {
      font-size: 21px;
    }
  }
  .write {
    .btn-effect{
      right: 0;
    }
  }

}

//lupa, font i lajkovi
